nav.MuiAppBar-root{
    background-color: rgb(55, 52, 52);
}
.MuiDrawer-paper{
    background-color: rgb(55, 52, 52) !important;
}
nav button.MuiButtonBase-root.MuiButton-root.MuiButton-text:hover{
    background-color: #fff;
    color: #000;
    /* font-weight: 500; */
    /* transition: 0.4s; */
    /* padding: 8px 10px; */
}
ul li.MuiListItem-root .MuiListItemButton-root:hover{
    background-color: #fff;
    color: #000;
    padding: 10px 0px;
    transition: 0.4s;
    font-weight: 600;
    font-family: Lato, sans-serif;
}